html {
    font-size: 62.5%;
    line-height: 1.15;
}

body {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    min-height: 100vh;
    font-size: 1.6rem;
    font-weight: 400;
}

.grid {
    display: grid;
    place-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.centralized {
    display: grid;
    place-items: center;
}

.centralized > form {
    margin: 0 auto;
    max-width: 720px;
}

/* COSTUMER PAGE */
#costumer-page .form-panel {
    background: white;
    border: 1px solid var(--border-color);
}

#costumer-page .form-header {
    background: var(--primary-color);
    color: white;
    margin: 0;
    padding: var(--spacing-md);
}

#costumer-page .form-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    margin: var(--spacing-md);
}

#costumer-page .form-content .box{
    display: grid;
    grid-template-columns: 30% auto ;
    gap: var(--spacing-md);
}

#costumer-page .form-content .box label {
    text-align: end;
}
