html {
    font-size: 62.5%;
    line-height: 1.15;
}

body {
    font-family: Avenir, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
    background-color: var(--bg-color);
    margin: 0;
    min-height: 100vh;
    font-size: 1.6rem;
    font-weight: 400;
}

.grid {
    display: grid;
    place-items: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

.centralized {
    display: grid;
    place-items: center;
    margin-top: var(--spacing-md);
}

h1.page-title {
    margin: 0.67em;
}

/* MENU */
ul[id='menu'] {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #111111;
}

/* DASHBOARD */

#dashboard .wrapper {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*gap: var(--spacing-md);*/
    margin: 0 auto;
    width: 80%;
    max-width: 1920px;
}

#dashboard .list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
}

#dashboard .list-title {
    background: var(--primary-color);
    color: white;
    padding: var(--spacing-sm);
    height: 30px;
    max-height: 30px;

    display: grid;
    grid-template-columns: auto minmax(10px, 30px);
}

#dashboard .list-title h2 {
    margin: 0;
}

#dashboard .list-title h2:nth-child(2) {
    text-align: end;
}

#dashboard .list-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-sm);
    align-content: start;
}

#dashboard .list-grid a {
    text-decoration: none;
}

#dashboard .list-grid a:visited,
#dashboard .list-grid a:active,
#dashboard .list-grid a:focus,
#dashboard .list-grid a:hover {
    color: var(--text-color);
}

#dashboard .list-box {
    background: white;
    border: 1px solid var(--border-color);
}

#dashboard .list-box:hover,
#dashboard .list-box:focus {
    border: 1px solid var(--primary-color);
}

#dashboard .list-box p {
    margin: 4px;
}

#dashboard #services .list-box {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(2, 1fr);
}

#dashboard #services .list-box p:first-child {
    text-align: start;
}

#dashboard #services .list-box p:last-child {
    text-align: end;
}

/* COSTUMER PAGE */
#costumer-page .form-panel {
    background: white;
    border: 1px solid var(--border-color);
    width: 75%;
    max-width: 680px;
    margin-top: var(--spacing-lg);
}

#costumer-page .form-header {
    background: var(--primary-color);
    color: white;
    margin: 0;
    padding: var(--spacing-md);
}

#costumer-page .form-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    margin: var(--spacing-md);
}

#costumer-page .form-content .box {
    display: grid;
    grid-template-columns: 30% auto;
    gap: var(--spacing-md);
}

#costumer-page .form-content .box label {
    text-align: end;
}

#costumer-page .form-content .box button {
    grid-column: 1 / span 2;
    width: 100%;
}

/* SERVICE PAGE */
#service-page .centralized {
    gap: var(--spacing-md);
}

#service-page .form-panel {
    background: white;
    border: 1px solid var(--border-color);
    width: 75%;
    max-width: 1024px;
}

#service-page .form-header {
    background: var(--primary-color);
    color: white;
    margin: 0;
    padding: var(--spacing-md);
}

#service-page .form-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-md);
    margin: var(--spacing-md);
}

#service-page .form-content .box {
    display: grid;
    grid-template-columns: 30% auto;
    gap: var(--spacing-md);
}

#service-page .form-content .box label {
    text-align: end;
}

#service-page .form-content .box button {
    grid-column: 1 / span 2;
    width: 100%;
}
